
img {
  display:block;
  width:100%;
  height: 100%;
  object-fit: fill;
}
.position_rel{
  position: relative;
  display: inline;
  .date_time{
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #fff;
    font-weight: 600;
  }
}
